<footer class="footer" role="contentinfo">
	<center><div class="container">
		<p class="copyright">Copyright &copy; 2014-{{ site.time | date: '%Y' }} <a href="{{site.resume_site}}"><code>{{ site.author }}</code></a>版权所有</p>
		<!--<p>Powered by <a href="https://beautifulgirlzhangxiaogui.top/">itliu</a>, themed from <a href="http://lesscss.cn/">Less</a>, refactored by <a href="http://www.hifreud.com/">Freud Kang</a></p>-->
		<p>京ICP备000000号</p>
	</div>
	</center>
</footer>

<script src="{{ '/styles/js/jquery.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/bootstrap.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/holder.min.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/lessismore.js' | prepend: site.baseurl }}"></script>
<script src="{{ '/styles/js/application.js' | prepend: site.baseurl }}"></script>
<script async src="//busuanzi.ibruce.info/busuanzi/2.3/busuanzi.pure.mini.js"></script>